/* Colores:
   $color-primary:  #222
   $color-secondary: rgba(110, 69, 51, 1);
   $color-focus-menu: #B90000; 
   $color-background: #fff;
   $color-list-odd: #f2f2f2;
   
*/

/* Imágenes:
logo: https://www.last.fm/static/images/logo_static_mob.0798d7258e3d.png
rock: https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg
hip-hop: https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg
indie:https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg
jazz:https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg
reggae: https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg
*/

/* Filtros: 

rock:   sepia(90%);
hip-hop:contrast(200%);
indie:  grayscale(50%);
jazz:   hue-rotate(90deg);
reggae: saturate(10%);

*/

/* Fuente:
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;

*/

/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */

body{
    padding: 0;
    margin: 0;
}

 header{
     display: flex;
     justify-content: center;
     align-self: center;
     flex-direction: column;
     flex-wrap: wrap;
     div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        div{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            text-align: center;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            margin: 10px;

            img{
                height: 150px;
                width: auto;
            }
           p{
            font-size: 20px;
            color: #fff;
            position: relative
           }

        }
        div:before {
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
     }
     p{
        cursor: pointer;
     }
     p:nth-of-type(2){
        margin-left: 20px;
        margin-right: 20px;
    }
     
 }

 main{
     width: 100%;
     table{
         width: 100%;
     }
 }


